    body{
background-color: #0d0d0d;
  color: #f4ebe1;
font-size: large;
    }
    h1, h2, h3, strong {
  color: #d4a359;
  }

.blanco{

 color: #ffffff;
}
.xd{
color: #e6e6e6;

}
.as {
   color: #ffffff;

}




